.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .35;
    
    &__content {
        height: 100%;
        width: 100%;
        object-fit: cover; // this helps to fit in the aspect ratio of the video.
        // it is similar to having backgournd-size: cover just that this one works for videos and other html elements.
        
    }
}