        <!-- the navigation with checkbox hack -->
        <!-- <div class="navigation">
            <input type="checkbox" class="navigation__checkbox" id="navi-toggle">
            <label for="navi-toggle" class="navigation__button">
                <span class="navigation__icon"></span>
            </label>

            <div class="navigation__background">&nbsp;</div>

            <nav class="navigation__nav">
                <ul class="navigation__list">
                    <li class="navigation__item"><a href="#signin" class="navigation__link">&nbsp; &nbsp; sign in &nbsp; &nbsp;</a></li>
                    <li class="navigation__item"><a href="#popup" class="navigation__link">create an account</a></li>
                </ul>
            </nav>
        </div> -->
        <!-- end of the navigation -->
        
        <header class="header">
            <div class="header__logo-box">
                <img src="../../assets/img/logo-white.png" alt="Logo" class="header__logo"> 
            </div>
            <div class="header__text-box">
                <h1 class="heading-primary">
                    <span class="heading-primary--main">Votely</span>
                    <span class="heading-primary--sub">Your vote Counts</span>
                </h1>
                <a href="#signin" class="btn btn--white btn--animated">
                    create a poll
                </a>
            </div>
        </header>
        <main>
            <section class="section-about">
                <div class="u-center-text u-margin-bottom-medium">
                    <h2 class="heading-secondary">
                        Where your votes counts.
                    </h2>
                </div>
                <div class="row">
                    <div class="col-1-of-2">
                        <h3 class="heading-tertiary u-margin-bottom-small">
                            Professional, Easy-to-use e-Voting software
                        </h3>
                        <p class="paragraph u-margin-bottom-small">
                            Votely is a professional software that allows organisations and institutions run polls with voters maintaining absolute anonymousity.
                        </p>

                        <h3 class="heading-tertiary u-margin-bottom-small">
                            Votely is a free.
                        </h3>
                        <p class="paragraph u-margin-bottom-small">
                            Votely is absolutely free for use. sign up, create a poll and send unique links to accredited voters.
                        </p>
                        <a href="#signin" class="btn-text">Get started &rarr;</a>
                    </div>
                    <div class="col-1-of-2">
                        <div class="composition">

                            <img src="../../assets/img/campaign-creators.jpg"
                                 sizes="(max-width:56.25em) 20vw, (max-width:37.5em) 30vw, 18.75em"
                                 alt="photo 1" 
                                 srcset="../../assets/img/campaign-creators.jpg 300w, ../../assets/img/nat-1-large.jpg 1000w"
                                 class="composition__photo composition__photo--p1">
                        
                            <img src="../../assets/img/studio-republic.jpg"
                                 sizes="(max-width:56.25em) 20vw, (max-width:37.5em) 30vw, 18.75em"
                                 alt="photo 2" 
                                 srcset="../../assets/img/studio-republic.jpg 300w, ../../assets/img/nat-2-large.jpg 1000w"
                                 class="composition__photo composition__photo--p2">

                            <img src="../../assets/img/voting-1.jpg"
                                 sizes="(max-width:56.25em) 20vw, (max-width:37.5em) 30vw, 18.75em"
                                 alt="photo 3" 
                                 srcset="../../assets/img/voting-1.jpg 300w, ../../assets/img/nat-3-large.jpg 1000w"
                                 class="composition__photo composition__photo--p3">

                            <!-- <img src="img/campaign-creators.jpg" alt="photo 1" class="composition__photo composition__photo--p1">
                            <img src="img/studio-republic.jpg" alt="photo 2" class="composition__photo composition__photo--p2">
                            <img src="img/voting-1.jpg" alt="photo 3" class="composition__photo composition__photo--p3"> -->
                        </div>
                    </div>
                </div>
            </section>
            <section class="section-features">
                <div class="row">
                    <div class="col-1-of-4">
                        <div class="feature-box">
                            <i class="feature-box__icon icon-basic-world"></i>
                            <h3 class="heading-tertiary">Create an Account</h3>
                            <p class="feature-box__text">
                                 Sign up on votely with one simple step. Your privacy is of uttermost importance to us and that is why we do not require them.
                            </p>
                        </div>
                    </div>
                    <div class="col-1-of-4">
                        <div class="feature-box">
                            <i class="feature-box__icon icon-basic-world"></i>
                            <h3 class="heading-tertiary">Create a vote poll</h3>
                            <p class="feature-box__text">
                                Log in to your dashboard to create a new poll. Register and accredit candidates, set a date and time for the pooling event.
                            </p>
                        </div>
                    </div>
                    <div class="col-1-of-4">
                        <div class="feature-box">
                            <i class="feature-box__icon icon-basic-world"></i>
                            <h3 class="heading-tertiary">share with voters</h3>
                            <p class="feature-box__text">
                                Send an e-mail blast to accredited voters. This e-mail contains a one-time unique link to participate in the polling process.
                            </p>
                        </div>
                    </div>
                    <div class="col-1-of-4">
                        <div class="feature-box">
                            <i class="feature-box__icon icon-basic-world"></i>
                            <h3 class="heading-tertiary">Watch vote count</h3>
                            <p class="feature-box__text">
                                    You can watch and monitor the secured voting process in real-time. Accredited voters would also see vote counts as they go in real time.
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- <section class="section-tours" id="section-tours">
                <div class="u-center-text u-margin-bottom-medium">
                    <h2 class="heading-secondary">
                        conduct a successfull poll in 4 steps!
                    </h2>
                </div>
                <div class="row">
                    <div class="col-1-of-3">
                        <div class="card">
                            <div class="card__side card__side--front">
                                <div class="card__picture card__picture--2">
                                    &nbsp;
                                </div>
                                <h4 class="card__heading">
                                    <span class="card__heading-span card__heading-span--2">
                                        Heading to the north
                                    </span>
                                </h4>
                                <div class="card__details">
                                    <ul>
                                        <li>something light</li>
                                        <li>something light</li>
                                        <li>something light</li>
                                        <li>something light</li>
                                        <li>something light</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card__side card__side--back card__side--back-2">
                                <div class="card__cta">
                                    <div class="card__price-box">
                                        <p class="card__price-only">Only</p>
                                        <p class="card__price-value">$300</p>
                                        <a href="#popup" class="btn btn--white">Book Now!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-1-of-3">
                        <div class="card">
                            <div class="card__side card__side--front">
                                <div class="card__picture card__picture--1">
                                    &nbsp;
                                </div>
                                <h4 class="card__heading">
                                    <span class="card__heading-span card__heading-span--1">
                                        Heading to the north
                                    </span>
                                </h4>
                                <div class="card__details">
                                    <ul>
                                        <li>something light</li>
                                        <li>something light</li>
                                        <li>something light</li>
                                        <li>something light</li>
                                        <li>something light</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card__side card__side--back card__side--back-1">
                                <div class="card__cta">
                                    <div class="card__price-box">
                                        <p class="card__price-only">Only</p>
                                        <p class="card__price-value">$300</p>
                                        <a href="#" class="btn btn--white">Book Now!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                
                    <div class="col-1-of-3">
                        <div class="card">
                            <div class="card__side card__side--front">
                                <div class="card__picture card__picture--3">
                                    &nbsp;
                                </div>
                                <h4 class="card__heading">
                                    <span class="card__heading-span card__heading-span--3">
                                        Heading to the north
                                    </span>
                                </h4>
                                <div class="card__details">
                                    <ul>
                                        <li>something light</li>
                                        <li>something light</li>
                                        <li>something light</li>
                                        <li>something light</li>
                                        <li>something light</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card__side card__side--back card__side--back-3">
                                <div class="card__cta">
                                    <div class="card__price-box">
                                        <p class="card__price-only">Only</p>
                                        <p class="card__price-value">$300</p>
                                        <a href="#" class="btn btn--white">Book Now!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="u-center-text u-margin-top-medium">
                    <a href="#" class="btn btn--primary btn--animated">
                            create a poll
                    </a>
                </div>
            </section> -->

            <!-- <a href="#section-tours" class="popup__close">X</a> -->


            <div class="popup" id="popup">
                <div class="popup__content">
                    <div class="book">
                            <a href="#section-signup" class="popup__close">&times;</a>
                        <div class="book__form">
                             <form [formGroup]="signup" (ngSubmit)="signupForm(signup)" class="form">
                                 <div class="u-margin-bottom-medium">
                                     <h2 class="heading-secondary">
                                         Sign up
                                     </h2>
                                 </div> 
                                 <div class="form__group">
                                        <div *ngIf="signup.controls['signup_email'].invalid && (signup.controls['signup_email'].dirty || signup.controls['signup_email'].touched)" class="form__error">
                                            <div *ngIf="signup.controls['signup_email'].errors.required">email address is required</div>
                                            <div *ngIf="signup.controls['signup_email'].errors.email">Enter a valid e-mail address</div>
                                        </div>
                                     <input type="email" formControlName="signup_email" class="form__input" id="reg_email" placeholder="Email Address" required>
                                     <label for="reg_email" class="form__label">
                                         Email Address
                                        </label>
                                 </div>
                                 <div class="form__group">
                                        <div *ngIf="signup.controls['signup_password'].invalid && (signup.controls['signup_password'].dirty || signup.controls['signup_password'].touched)" class="form__error">
                                            <div *ngIf="signup.controls['signup_password'].errors.required">Your password is required</div>
                                            <div *ngIf="signup.controls['signup_password'].errors.minlength">Your password must be at least 8 characters long.</div>
                                        </div>
                                     <input type="password" formControlName="signup_password" class="form__input" id="reg_pwd" placeholder="Password" required>
                                     <label for="reg_pwd" class="form__label">Password</label>
                                 </div>
                                 <div class="form__group">
                                        <div *ngIf="signup.controls['signup_confirm_password'].invalid && (signup.controls['signup_confirm_password'].dirty || signup.controls['signup_confirm_password'].touched)" class="form__error">
                                            <div *ngIf="signup.controls['signup_confirm_password'].errors.required">password confirmation is required</div>
                                            <div *ngIf="signup.controls['signup_confirm_password'].errors.MustMatch">passwords do not match.</div>
                                        </div>
                                    <input type="password" formControlName="signup_confirm_password" class="form__input" id="reg_c_pwd" placeholder="Confirm Password" required>
                                    <label for="reg_c_pwd" class="form__label">Confirm Password</label>
                                    </div>
                                 <div class="form__group">
                                     <div class="form__radio-group">
                                         <input type="radio" formControlName="size" class="form__radio-input" id="reg_small">
                                         <label for="reg_small" class="form__radio-label">
                                             <span class="form__radio-btn"></span>
                                             I accept Terms &amp; Conditions
                                         </label>
                                         <div *ngIf="signup.controls['size'].invalid && (signup.controls['size'].dirty || signup.controls['size'].touched)" class="form__error">
                                            <div *ngIf="signup.controls['size'].errors.required">You need to agree</div>
                                         </div>
                                     </div>
                                 </div>
                                 <div class="form__group">
                                     <button class="btn btn--primary btn--animated" [disabled]="signup.invalid">
                                         sign up
                                     </button>
                                 </div>
                             </form>
                         </div>
                     </div> 
                </div>
            </div>

            <section class="section-stories" id="signin">
                <div class="bg-video">
                    <video class="bg-video__content" autoplay muted loop>
                        <source src="../../assets/img/video-2.mp4" type="video/mp4">
                        <!-- <source src="img/video.webm" type="video/webm"> -->
                            Your Browser is not Supported!
                    </video>
                </div>
                <!-- <div class="u-center-text u-margin-bottom-medium">
                    <h2 class="heading-secondary">
                        conduct a successfull poll in 4 steps!
                    </h2>
                </div>
                <div class="row">
                    <div class="story">
                        <figure class="story__shape">
                            <img src="../../assets/img/nat-8.jpg" class="story__img" alt="Contestant one">
                            <figcaption class="story__caption">
                                Ilamini Dagogo
                            </figcaption>
                        </figure>
                        <div class="story__text">
                            <h3 class="heading-tertiary u-margin-bottom-small">Senior Beginner of the year</h3>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa molestiae vitae consequatur, porro tempora mollitia ipsa soluta iste atque veritatis quo sit laboriosam commodi, laudantium magni quod! Corrupti, adipisci perferendis.</p>
                        </div>
                    </div>
                </div>   
                <div class="row">
                    <div class="story">
                        <figure class="story__shape">
                            <img src="../../assets/img/nat-9.jpg" class="story__img" alt="Contestant one">
                            <figcaption class="story__caption">
                                Ilamini Dagogo
                            </figcaption>
                        </figure>
                        <div class="story__text">
                            <h3 class="heading-tertiary u-margin-bottom-small">Senior Beginner of the year</h3>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa molestiae vitae consequatur, porro tempora mollitia ipsa soluta iste atque veritatis quo sit laboriosam commodi, laudantium magni quod! Corrupti, adipisci perferendis.</p>
                        </div>
                    </div>
                </div>
                <div class="u-center-text u-margin-top-big">
                    <a href="#" class="btn-text">Learn More &rarr;</a>
                </div> -->

                <div class="row">
                    <div class="card">
                        <div class="card__side card__side--front">
                            <div class="book">
                                <div class="book__form">
                                    <form [formGroup]="data" novalidate (ngSubmit)="loginForm(data)" class="form">
                                        <div class="u-margin-bottom-medium">
                                            <h2 class="heading-secondary">
                                                log in
                                            </h2>
                                        </div> 
                                        <div class="form__group">
                                        <div *ngIf="data.controls['email'].invalid && (data.controls['email'].dirty || data.controls['email'].touched)" style="color: orangered; font-size: 1.5rem;">
                                            <div *ngIf="data.controls['email'].errors.required">email address is required</div>
                                            <div *ngIf="data.controls['email'].errors.email">Enter a valid e-mail address</div>
                                        </div>
                                            <input type="email" formControlName="email" class="form__input" id="email" placeholder="Email Address" required>
                                            <label for="email" class="form__label">Email Address</label>
                                        </div>
                                        <div class="form__group">
                                            <div *ngIf="data.controls['password'].invalid && (data.controls['password'].dirty || data.controls['password'].touched)" style="color: orangered; font-size: 1.5rem;">
                                                <div *ngIf="data.controls['password'].errors.required">Your password is required</div>
                                                <div *ngIf="data.controls['password'].errors.minlength">Your password must be at least 8 characters long.</div>
                                            </div>
                                            <input type="password" formControlName="password" class="form__input" id="pwd" placeholder="Password" required>
                                            <label for="pwd" class="form__label">Password</label>
                                        </div>
                                        <div class="form__group">
                                            <button type="submit" class="btn btn--primary btn--animated" [disabled]="data.pristine || data.invalid">
                                                Login
                                            </button>
                                        </div>
                                    </form>
                                    <div class="card__register">
                                            <a href="#popup" class="btn-text">Create An Account &rarr;</a>
                                        <!-- <a href="#popup" class="btn btn--white">Create An Account</a> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card__side card__side--back">
                            <!-- second part of the card goes in here! -->
                        </div>
                    </div>
                </div>

                <!-- <div class="row">
                    <div class="book">
                       <div class="book__form">
                            <form action="#" class="form">
                                <div class="u-margin-bottom-medium">
                                    <h2 class="heading-secondary">
                                        Sign up
                                    </h2>
                                </div> 
                                <div class="form__group">
                                    <input type="email" class="form__input" id="email" placeholder="Email Address" required>
                                    <label for="email" class="form__label">Email Address</label>
                                </div>
                                <div class="form__group">
                                    <input type="password" class="form__input" id="pwd" placeholder="Password" required>
                                    <label for="pwd" class="form__label">Password</label>
                                </div>
                                <div class="form__group">
                                    <div class="form__radio-group">
                                        <input type="radio" class="form__radio-input" id="small" name="size">
                                        <label for="small" class="form__radio-label">
                                            <span class="form__radio-btn"></span>
                                            I accept Terms &amp; Conditions
                                        </label>
                                    </div>
                                </div>
                                <div class="form__group">
                                    <button class="btn btn--primary btn--animated">
                                        Login
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div> -->
            </section>
            <!-- <section class="section-book" id="signin">
                <div class="row">
                    <div class="book">
                       <div class="book__form">
                            <form action="#" class="form">
                                <div class="u-margin-bottom-medium">
                                    <h2 class="heading-secondary">
                                        Sign up
                                    </h2>
                                </div> 
                                <div class="form__group">
                                    <input type="text" class="form__input" id="name" placeholder="Full name" required>
                                    <label for="name" class="form__label">Full name</label>
                                </div>
                                <div class="form__group">
                                    <input type="email" class="form__input" id="email" placeholder="Email Address" required>
                                    <label for="email" class="form__label">Email Address</label>
                                </div>
                                <div class="form__group">
                                    <div class="form__radio-group">
                                        <input type="radio" class="form__radio-input" id="small" name="size">
                                        <label for="small" class="form__radio-label">
                                            <span class="form__radio-btn"></span>
                                            I accept Terms &amp; Conditions
                                        </label>
                                    </div>
                                </div>
                                <div class="form__group">
                                    <button class="btn btn--primary btn--animated">
                                        Login
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section> -->
        </main>
        <footer class="footer">
            <div class="footer__logo-box">
                <picture class="footer__logo">
                    <source srcset="../../assets/img/logo-green-small-1x.png 1x, ../../assets/img/logo-green-small-2x.png 2x" media="(max-width: 37.5em)">
                        <img srcset="../../assets/img/logo-green-1x.png 1x, ../../assets/img/logo-green-2x.png 2x" alt="Full logo" src="../../assets/img/logo-green-2x.png">
                    </picture>
            </div>
            <div class="row">
                <div class="col-1-of-2">
                    <div class="footer__navigation">
                        <ul class="footer__list">
                            <li class="footer__item"><a href="#" class="footer__link">one</a></li>
                            <li class="footer__item"><a href="#" class="footer__link">two</a></li>
                            <li class="footer__item"><a href="#" class="footer__link">three</a></li>
                            <li class="footer__item"><a href="#" class="footer__link">four</a></li>
                            <li class="footer__item"><a href="#" class="footer__link">five</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-1-of-2">
                    <p class="footer__copyright">
                        votely is a property of <a href="#" class="footer__link">CodeHead</a>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem nam asperiores doloribus earum voluptatibus ipsum laudantium adipisci ad, natus inventore similique dolor aut neque laboriosam sapiente officiis? Quam, eligendi saepe.
                    </p>
                </div>
            </div>
        </footer>